{% extends "base.html.jinja" %}
{% block content %}
    <h2 class="mb-4 text-center">Wykresy</h2>
        
        <div class="row py-2">
            <div class="col-sm">
                <img src="../static/plots/{{product_id}}_recommendations.png" alt="Recommendations" class="img-fluid pb-3">
            </div>
            <div class="col-sm">
                <img src="../static/plots/{{product_id}}_stars.png" alt="Stars" class="img-fluid">
            </div>
        </div>

    <a type="button" class="btn btn-warning rounded-0" href="{{url_for('product', product_id=product_id)}}">
        Powrót do strony z produktem<i class="bi bi-arrow-up-right-square-fill ms-1"></i>
    </a>
{% endblock content %}